## 講座 1.4 Pandas入門

### データフレーム定義

#### ライブラリインポート

In [ ]:
# ライブラリのimport

# NumPy用ライブラリ
import numpy as np

# pandas用ライブラリ
import pandas as pd

# データフレーム表示用関数
from IPython.display import display

# データフレームでの表示精度
pd.options.display.float_format = '{:.4f}'.format

# データフレームですべての項目を表示
pd.set_option("display.max_columns",None)

#### データフレーム定義

In [ ]:
# NumPy2次元配列の定義
b = np.array([
[25, 140, 40.5],
[36, 175, 70.2],
[43, np.nan, 65.0],
[31, 158, 55.6],])

# 結果確認
print(b)

In [ ]:
# データフレームの定義
df1 = pd.DataFrame(b, columns=['年齢', '身長', '体重'])

# 型表示
print(type(df1))

# display関数による整形表示
display(df1)

In [ ]:
# データフレームの各部品表示

# 列名
print('列名', df1.columns)

# 行名
print('行名', df1.index)

# データ本体
print('データ本体\n', df1.values)

### ファイルからのデータ読み込み

#### CSVファイルからの読み込み

In [ ]:
# CSVファイルからの読み込み

# 読み込み元ファイル
file1 = 'l01_04_df-sample1.csv'
# データ読み込み
df2 = pd.read_csv(file1)

# 結果確認
display(df2)

In [ ]:
# df2をコピーしてdf3にする
df3 = df2.copy()

# ファイル読み込み後の列名変更
columns = ['age', 'height', 'weight']
df3.columns = columns

# 結果確認
display(df3)

#### Excelファイルからの読み込み

In [ ]:
# Excelファイルからの読み込み

# 読み込み元ファイル
file2 = 'l01_04_df-sample2.xlsx'

# データ読み込み
df4 = pd.read_excel(file2)

# 結果確認
display(df4)

### Series定義

In [ ]:
# 1次元NumPy配列の定義
a = np.array(['男性', '女性', '男性', '女性'])

# 結果確認
print(a)

In [ ]:
# Seriesの定義
ser = pd.Series(a, name='性別')

print(type(ser))

print(ser)

In [ ]:
# データフレームからSeriesを生成
ser2 = df1['年齢']

print(type(ser2))

print(ser2)

### データフレームとNumPyの関係

In [ ]:
# データフレームと2次元NumPy配列の関係

# データフレームから2次元NumPy配列を取得
ar = df1.values

# 2次元NumPy配列からデータフレームを生成
df5 = pd.DataFrame(ar)

In [ ]:
# データフレームのshapeとlen関数
# shapeとlen関数は、内部のNumPyの結果がそのまま返る

print(df1.shape)
print(len(df1))

### データフレーム部分参照

In [ ]:
# 列リストで部分表を抽出

cols = ['年齢', '身長']
df6 = df1[cols]

display(df6)

In [ ]:
# データフレームの特定列をNumPy配列として抽出

y = df1['年齢'].values
print(y)

In [ ]:
# head関数で行の範囲指定
display(df1.head(2))

In [ ]:
# 行の範囲を数値指定
display(df1[0:2])

#### Index配列を元に行選択

In [ ]:
# idx:「col_aが奇数」を判定
idx = (df1['年齢'] % 2 == 1)
print(idx)

In [ ]:
# idx で行を絞り込む
df7 = df1[idx]
display(df7)

In [ ]:
# まとめて1行で表現
df8 = df1[df1['年齢'] % 2 == 1]
display(df8)

### データフレーム操作

In [ ]:
# df1をdf9にコピー
df9 = df1.copy()

# 列削除
df9 = df9.drop('年齢', axis=1)
display(df9)

In [ ]:
# df10にdf1をコピー
df10 = df1.copy()

# 欠損値のある行を削除
df10 = df10.dropna(subset = ['身長'])
display(df10)

In [ ]:
# df11にdf1をコピー
df11 = df1.copy()

add_values = ['男性', '女性', '男性', '女性']
df11['性別'] = add_values
display(df11)

### データフレーム関数

In [ ]:
#  特定列に対する統計関数
a_mean = df1['年齢'].mean()
a_max = df1['年齢'].max()
a_min = df1['年齢'].min()

print(f'平均: {a_mean}  最大:{a_max}  最小:{a_min}')

In [ ]:
# データフレーム全体にmean関数呼び出し
print(df1.mean())

In [ ]:
# 項目ごとの統計情報取得
display(df1.describe())

In [ ]:
# 項目値の個数集計
df11['性別'].value_counts()

In [ ]:
# NULL値チェック
display(df1.isnull())

In [ ]:
# 列単位の欠損値集計
print(df1.isnull().sum())

### groupby関数

In [ ]:
# groupby関数でcol_dの項目値ごとの集計
df12 = df11.groupby('性別').mean()
display(df12)

### map関数

In [ ]:
# map関数でmale/femaleを1/0に置き換え
df13 = df11.copy()
mf_map = {'男性': 1, '女性': 0}
df13['性別'] = df13['性別'].map(mf_map)
display(df13)

### set_index 関数

In [ ]:
# 元データフレームの確認
df14 = df11.copy()
display(df14)

In [ ]:
# set_index関数の利用
df14 = df14.set_index('性別')
display(df14)

In [ ]:
# df11をインデックスで絞り込み
df15 = df14.loc['男性']
display(df15)